---
import Layout from '../../layouts/Layout.astro';
---

<script>
    import { register } from "../../../api/requests";

    const path = new URL(window.location.toString())
    const urlParams = path.searchParams;
    const code = urlParams.get("code");

    const status = document.getElementById("status")!;
    if (code) {
        const res = await register(code);
        if (res) {
            status.innerHTML = "Done! Redirecting...";
            window.location.href = "http://localhost:3000/create";
        } else {
            status.innerHTML = "There was an error logging in :c";
        }
    } else {
        status.innerHTML = "No code was provided >:c";
    }
</script>

<Layout title="Kimsu Auth">
	<main class="grid">
        <h1 id="status">Logging in...</h1>
	</main>
</Layout>

<style>
	main {
		height:  calc(100dvh - var(--header-height));
		padding: 2rem;
	}
</style>